In [1]:
import os
import glob
import pandas as pd
os.chdir(".")

In [2]:
res = [i for i in glob.glob('DVIP_Taxi/*')]
df = []
for f in res:
    try: 
        df.append(pd.read_csv(f))
    except:
        continue
df = pd.concat(df)
df = df.loc[:, (df != df.iloc[0]).any()] 
df = df.drop(["name_flag", "dataset", "activation", "bnn_layer", "final_layer_noise"], axis=1)
df.drop_duplicates(inplace = True)
df.to_csv("DVIP_Taxi.csv", index = False)

In [3]:
res2 = [i for i in glob.glob('DGP_Taxi/*')]
df2 = pd.concat([pd.read_csv(f) for f in res2 ]).drop(["Unnamed: 0"], axis = 1)
df2.to_csv("DGP_Taxi.csv", index = False)

# DVIP

In [6]:
df.query("iterations == 500000 and bnn_layer_str == 'SimplerBayesLinear'")

,epochs,iterations,vip_layers,bnn_layer_str,time,LOSS,RMSE,NLL,CRPS,LOSS_train,RMSE_train,NLL_train,CRPS_train
0,4,500000,[1],SimplerBayesLinear,4141.457226,243.124756,554.92017,7.737763,284.616028,NaN,NaN,NaN,NaN
0,4,500000,[2],SimplerBayesLinear,6822.755365,1098.781494,549.68854,7.728268,282.504150,NaN,NaN,NaN,NaN
0,4,500000,[3],SimplerBayesLinear,10078.583626,2134.189941,534.39514,7.695650,278.032776,NaN,NaN,NaN,NaN
0,4,500000,[4],SimplerBayesLinear,15168.651300,2035.500366,551.21060,7.730875,282.925873,NaN,NaN,NaN,NaN
0,4,500000,[5],SimplerBayesLinear,18548.592035,3288.376709,530.42035,7.687328,274.575317,NaN,NaN,NaN,NaN

# DGP

In [7]:
df2.query("iterations == 500000 ")

,split,layers,iterations,batch,dataset,NLL,RMSE,CRPS,time
0,0,1,500000,100,taxi,7.734986,553.370558,283.504096,3183.054256
0,0,2,500000,100,taxi,7.732569,552.062531,282.662652,16613.088442
0,0,3,500000,100,taxi,7.731724,551.633768,282.730190,29410.156992
0,0,4,500000,100,taxi,7.745090,558.988046,286.063214,39470.766746
0,0,5,500000,100,taxi,7.745090,558.988046,286.063179,58037.495155